In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('volkswagen_cleaned.csv')
df1 = pd.read_csv('audi_cleaned.csv')
df2 = pd.read_csv('skoda_cleaned.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50565 entries, 0 to 50564
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   displacement      50565 non-null  float64
 1   doors             50565 non-null  object
 2   fuel              50565 non-null  object
 3   kilowatts         50565 non-null  float64
 4   location          50565 non-null  object
 5   manufacturer      50565 non-null  object
 6   mileage           50564 non-null  float64
 7   model             50565 non-null  object
 8   price             50565 non-null  int64
 9   title             50565 non-null  object
 10  year              50565 non-null  int64
 11  color             50565 non-null  object
 12  cruiseControl     50565 non-null  bool
 13  drivetrain        50565 non-null  object
 14  emissionStandard  50565 non-null  object
 15  rimSize           50565 non-null  int64
 16  transmission      50565 non-null  object
 17  type              50565 non-null  object
 18  airCondition      50565 non-null  bool
 19  navigation        50565 non-null  bool
 20  registration      50565 non-null  bool
dtypes: bool(4), float64(3), int64(3), object(11)
memory usage: 6.8+ MB

In [21]:
df.columns

Index(['displacement', 'doors', 'fuel', 'kilowatts', 'location',
       'manufacturer', 'mileage', 'model', 'price', 'title', 'year', 'color',
       'cruiseControl', 'drivetrain', 'emissionStandard', 'rimSize',
       'transmission', 'type', 'airCondition', 'navigation', 'registration'],
      dtype='object')

In [12]:
df['model'].unique()

array(['Fabia', 'Octavia', 'Felicia', 'Praktik', 'Superb', 'Yeti',
       'Octavia Scout', 'Scala', 'Karoq', 'Kodiaq', 'Octavia Tour',
       'Octavia RS', 'Roomster', 'Rapid', 'Fabia RS', 'Kamiq', 'Citigo',
       'Spaceback', '120', 'Enyaq', '130', '105', 'Favorit', 'Drugi',
       'Enyaq Coup√©'], dtype=object)

In [12]:
df.loc[(df['year'] < 2015) & (df['mileage'] < 1000), 'mileage'] = 250000

In [13]:
df.to_csv('volkswagen_cleaned.csv', index=False)

In [15]:
df3 = pd.concat([df, df1, df2])
df3.to_csv('all_cleaned.csv', index=False)